<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>
<h1>Welcome, <%= @user.name %>!</h1>

<p><a href="/leads/new">Create Another Lead</a> or <a href="/logout">Log Out</a> to continue.

<h2>Create a Lead</h2>
<form action="/leads" method="post">
  <label>Lead Name:</label>
  <input type="text" name="name"><br><br>
  <input type="submit" value="Submit">
</form>
