<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>
<h1>Edit a Lead</h1>

<form action="/leads/<%= @lead.id %>" method="post">
  <input type="hidden" name="_method" value="PATCH">
  <h4>Lead Name</h4>
  <input type="text" name="name" value="<%= @lead.name %>"><br>
  <h4>Status</h4>
  <input type="radio" name="status" value="Go"<%= 'checked' if @lead.status=="Go" %>>Go</input><br>
  <input type="radio" name="status" value="No Go">No Go</input><br>
  <input type="radio" name="status" value="Converted">Converted</input><br><br>
  <input type="submit" name="Update" value="Update">
</form>
