<h1>Welcome, <%= @user.name %> </h1>

<p><a href="/leads/new">Create New Lead</a> or <a href="/logout">Log Out</a> to continue.

<h2>Your Leads</h2>
<table>
  <tr>
    <th>Lead Name</th>
    <th>Status</th>
  </tr>
  <tr>
    <% Lead.all.each do |lead| %>
        <td><%= lead.name %></td>
        <td><%= lead.status %></td>
    <% end %>
  </tr>
</table>
