<h1>Welcome, <%= @user.name %> </h1>
<h2>Region: <%= @user.region.name %></h2>

<p><a href="/leads/new">Create New Lead</a> or <a href="/logout">Log Out</a> to continue.


<h2>Your Leads</h2>
<table>
  <tr>
    <th>Lead Name</th>
    <th>Status</th>
  </tr>
  <% @user.leads.each do |lead| %>
  <tr>
      <td><%= lead.name %></td>
      <td><%= lead.status %></td>
  </tr>
  <% end %>
</table>
