<h1>Welcome, <%= @user.name %> </h1>

<h2>Leads</h2>
<table>
  <tr>
    <th>Lead Name</th>
    <th>Status</th>
  </tr>
  <tr>
    <% Lead.all.each do |lead| %>
        <td><%= lead.name %></td>
        <td><%= lead.status %></td>
    <% end %>
  </tr>
</table>
