<h1>Selected Lead</h1>

<label>Name:</label>
<%= @lead.name %>
<br><br>
<label>Status:</label>
<%= @lead.status %>

<br><br><br>

<form action="/leads/<%= @lead.id %>/update" method="get">
  <input type="submit" value="Edit Lead">
</form>

<form action="/leads/<%= @lead.id %>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Lead">
</form>
