<h1>Create Agent</h1>
<form action="/agents/new" method="post">
  <label>Agent name:</label>
  <input type="text" name="name"><br><br>
  <label>Password:</label>
  <input type="password" name="password"><br>
  <br>
  <input type="submit" value="Sign Up">
</form>
