<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<h1>Welcome! Please Log In</h1>

<form action="/login" method="POST">
  <input type="text" name="name" placeholder="Agentname:">
  <input type="password" name="password" placeholder="Password:">
  <input type="submit" value="submit">
</form>
