<h1>Region Name: <%= @region.name %></h1>

<table>
  <tr>
    <th>Lead Name</th>
    <th>Status</th>
    <th>Agent</th>
  </tr>
  <% @region.leads.each do |lead| %>
  <tr>
    <td><%= lead.name %></td>
    <td><%= lead.status %></td>
    <td><%= lead.agent.name %></td>
  </tr>
  <% end %>
</table>
